$desktop: 1650px;
$desktop-sm: 1200px;
$tablet: 1024px;
$tablet-sm: 850px;
$mobile-lg: 768px;
$mobile: 480px;
$mobile-sm: 320px;

@mixin desktop-md {
  @media (max-width: #{$desktop-md}) {
    @content;
  }
}
@mixin desktop-sm {
  @media (max-width: #{$desktop-sm}) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}
@mixin tablet-sm {
  @media (max-width: #{$tablet-sm}) {
    @content;
  }
}
@mixin mobile-lg {
  @media (max-width: #{$mobile-lg}) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}
@mixin mobile-sm {
  @media (max-width: #{$mobile-sm}) {
    @content;
  }
}

@mixin blind {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  padding: 0;
  margin: -1px;
  border: 0;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
}

@mixin clamp($line: 2) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: $line;
  overflow: hidden;
}
