@use './mixins' as *;

.post-head {
  position: relative;
  width: 100%;
  height: 40rem;

  .post-head-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.25);
  }

  .post-head-info {
    position: relative;
    z-index: 2;
    height: 100%;
    padding: 60px 0;
    color: #fff;

    .inner {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      // gap: 4rem;
      max-width: 1024px;
      height: 100%;
      margin: 0 auto;
    }
  }

  .btn-back {
    flex: 0 0 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    aspect-ratio: 1;
    font-size: 2.2rem;
    color: var(--fc-default);
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background: #fff;
  }

  .post-title {
    font-size: 4rem;
    font-weight: 700;
    @include clamp(4);
    margin-top: auto;
  }

  .post-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 500;
    opacity: 0.6;
    margin-top: 1.6rem;
  }
}

.post-contents {
  // Renderer Style
  display: flex;
  flex-direction: column;
  // width: 1024px;
  margin: 0 auto;
  padding: 100px 0;
  word-break: break-all;

  // Markdown Style
  line-height: 1.8;
  font-size: 1.6rem;
  font-weight: 400;

  // Apply Padding Attribute to All Elements
  p {
    padding: 3px 0;
  }

  // Adjust Heading Element Style
  h1,
  h2,
  h3 {
    // font-weight: 800;
    // margin-bottom: 30px;
  }

  * + h1,
  * + h2,
  * + h3 {
    margin-top: 80px;
  }

  hr + h1,
  hr + h2,
  hr + h3 {
    // margin-top: 0;
  }

  h1 {
    font-size: 3rem;
    font-weight: 500;
    margin: 3rem 0 2rem;
  }

  h2 {
    font-size: 2.6rem;
    font-weight: 500;
    margin: 3rem 0 2rem;
  }

  h3 {
    font-size: 2.4rem;
    font-weight: 500;
    margin: 3rem 0 2rem;
  }

  h4 {
    font-size: 2.2rem;
    font-weight: 500;
    margin: 3rem 0 2rem;
  }

  h5 {
    font-size: 2rem;
    font-weight: 500;
    margin: 3rem 0 2rem;
  }

  h6 {
    font-size: 2rem;
    font-weight: 500;
    margin: 3rem 0 2rem;
  }

  // Adjust Quotation Element Style
  blockquote {
    margin: 30px 0;
    padding: 5px 15px;
    border-left: 2px solid #000000;
    font-weight: 800;
  }

  // Adjust List Element Style
  ol,
  ul {
    padding-inline-start: 1.75rem;
    padding: 0 0 1rem 2rem;
    list-style-type: disc;

    li {
      list-style-type: disc;
      padding-left: 0.25rem;
      margin: 0.25rem 0;

      ul {
        list-style-type: circle;

        li {
          list-style-type: circle;

          ul {
            list-style-type: square;

            li {
              list-style-type: square;
            }
          }
        }
      }
    }
  }

  // Adjust Horizontal Rule style
  hr {
    margin: 50px 0;
    padding: 0;
    border: 0 none;
    border-top: 1px solid var(--bc-sub);
  }

  // Adjust Link Element Style
  a {
    color: #4263eb;
    text-decoration: underline;
  }

  // Adjust Code Style
  pre[class*='language-'] {
    margin: 30px 0;
    padding: 15px;
    font-size: 15px;

    ::-webkit-scrollbar-thumb {
      background: rgba(255, 255, 255, 0.5);
      border-radius: 3px;
    }
  }

  code[class*='language-'],
  pre[class*='language-'] {
    tab-size: 2;
  }

  // Markdown Responsive Design
  @media (max-width: 768px) {
    width: 100%;
    padding: 80px 20px;
    line-height: 1.6;
    font-size: 14px;

    h1 {
      font-size: 23px;
    }

    h2 {
      font-size: 20px;
    }

    h3 {
      font-size: 17px;
    }

    img {
      width: 100%;
    }

    hr {
      // margin: 50px 0;
      // padding: 0;
      // background: transparent;
      // border: 0 none;
    }
  }
}

.comment-wrapper {
  // max-width: 768px;
  // margin: 0 auto;

  .utterances {
    // width: 100%;
    max-width: none;
  }
}

.toc-container {
  position: sticky;
  top: 4rem;
  max-height: calc(100vh - 12rem);
  overflow-y: auto;
  scrollbar-width: none;
  padding: 1rem 0 1rem 2rem;
  border-left: 1px solid var(--bc-sub);

  &::-webkit-scrollbar {
    display: none;
  }

  .toc-title {
    font-size: 1.6rem;
    font-weight: 600;
  }

  .toc {
    margin-top: 1.2rem;

    ul {
      li {
        list-style: none;

        a {
          display: block;
          font-size: 1.4rem;
          color: var(--fc-sub);
          padding: 0.4rem 0;
          transition: color 0.2s;
          @include clamp(2);

          &:hover {
            color: var(--fc-default);
          }

          &.toc-active {
            color: var(--fc-primary);
            font-weight: 700;
          }
        }

        ul {
          padding-left: 1.3rem;
        }
      }
    }
  }
}

@media (width <= 850px) {
  .post-head {
    height: 30rem;

    .post-head-inner {
      width: 100%;
      padding: 40px 20px;
    }

    .post-head-info {
      padding: 3rem 0;
      .inner {
        padding: 0 2rem;
      }
    }

    .btn-back {
      flex: 0 0 3rem;
      width: 30px;
      height: 30px;
      font-size: 18px;
    }

    .post-title {
      font-size: 2.2rem;
    }

    .post-info {
      flex-direction: column;
      align-items: flex-start;
      font-size: 15px;
      font-weight: 400;
    }
  }
}

@media (width <= 620px) {
  .comment-wrapper {
    padding: 0 2rem;
  }
}
