@use './mixins' as *;

.post-lists {
  &.vertical-type {
    .post-item {
      display: flex;
      align-items: flex-start;
      gap: 4rem;
      padding-top: 3rem;
      margin-top: 3rem;
      border-top: 1px solid var(--bc-sub);

      &:first-child {
        padding-top: 0;
        margin-top: 0;
        border-top: 0;
      }

      &:hover {
        .thumbnail {
          img {
            transform: scale(1.1);
          }
        }

        .text-wrapper {
          .title {
            color: var(--fc-primary);
          }
        }
      }

      .thumbnail {
        flex: 0 0 36%;
        max-width: 30rem;
        min-width: 22rem;
        order: 2;
        width: 100%;
        aspect-ratio: 16 / 9;
        border-radius: 1rem;
        overflow: hidden;

        img {
          transition: transform 0.3s;
        }
      }

      .text-wrapper {
        order: 1;
        flex: 1 1 auto;
        padding: 0.4rem 0;

        .title {
          font-size: 2rem;
          font-weight: 500;
          @include clamp(2);
          transition: color 0.3s;
        }

        .desc {
          font-size: 1.6rem;
          color: var(--fc-sub);
          @include clamp(2);
          margin-top: 1rem;
        }

        .info-wrapper {
          display: flex;
          align-items: center;
          gap: 2rem;
          margin-top: 2rem;

          div {
            display: flex;
            align-items: center;
            gap: 0.4rem;
            font-size: 1.4rem;
            font-weight: 400;
            color: var(--fc-sub2);

            &.date {
            }

            &.categories {
              flex-wrap: wrap;
              gap: 0.6rem;

              span {
              }
            }

            .ico {
            }
          }
        }
      }
    }
  }

  &.thumbnail-type {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    gap: 3rem;

    .post-item {
      flex: 0 0 auto;
      width: calc(50% - 1.5rem);
      border-radius: 1.6rem;
      overflow: hidden;
      background: var(--bg-sub);

      &:hover {
        .text-wrapper {
          .title {
            color: var(--fc-primary);
          }
        }
      }

      .thumbnail {
        width: 100%;
        aspect-ratio: 16 / 9;
      }

      .text-wrapper {
        padding: 2.2rem;

        .title {
          font-size: 2rem;
          font-weight: 500;
          @include clamp(2);
          transition: color 0.3s;
        }

        .desc {
          font-size: 1.6rem;
          color: var(--fc-sub);
          @include clamp(2);
          margin-top: 1rem;
        }

        .info-wrapper {
          display: flex;
          align-items: center;
          gap: 2rem;
          margin-top: 2rem;

          div {
            display: flex;
            align-items: center;
            gap: 0.4rem;
            font-size: 1.2rem;
            font-weight: 400;
            color: var(--fc-sub2);

            &.date {
            }

            &.categories {
              flex-wrap: wrap;
              gap: 0.6rem;

              span {
              }
            }

            .ico {
            }
          }
        }
      }
    }
  }
}

@media (width <= 620px) {
  .post-lists {
    &.vertical-type {
      .post-item {
        gap: 2rem;

        .thumbnail {
          flex: 0 0 40%;
          min-width: auto;
        }

        .text-wrapper {
          padding: 0;

          .title {
            font-size: 1.6rem;
          }

          .desc {
            font-size: 1.4rem;
          }

          .info-wrapper {
            display: block;
            margin-top: 1.6rem;

            div {
              font-size: 1.2rem;
            }
          }
        }
      }
    }

    &.thumbnail-type {
      .post-item {
        width: 100%;
      }
    }
  }
}
