@use './abstracts/mixins' as *;

:root {
  --bg-primary: #3a6bff;
  --bg-default: #fff;
  --bg-sub: #f3f3f3;

  --fc-primary: #3a6bff;
  --fc-default: #222;
  --fc-sub: #757575;
  --fc-sub2: #aaa;
  --fc-success: #2fb075;
  --fc-danger: #ed6767;
  --fc-pink: #d63384;
  --fc-marker-success: #e9ff47;

  --bc-primary: #3a6bff;
  --bc-default: #ddd;
  --bc-sub: #eee;
  --bc-input: #ddd;
  --bc-input-focus: #999;

  // icon
  --ic-default: #222;
  --ic-sub: #999;
  --ic-sub2: #aaa;

  --aside-width: 30rem;
  --container-left-padding: 30rem;
  --rnb-width: 26rem;

  --max-width: 1190px;

  // 사이트 좌우 여백
  --side-padding: 4rem;
  --side-back-margin: -4rem;

  // code block
  // --codeblock-font-family: 'Fira Code', monospace;
  --codeblock-font-family:
    'SFMono-Regular', Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    monospace;
  --codeblock-background: #f6f8fa;
  --codeblock-border-color: #ececec;
  --codeblock-radius: 1rem;

  --codeblock-header-text-color: #a3a3a3;
  --codeblock-header-icon-color: #c9c8c8;

  --codeblock-numbers-line: transparent;

  --codeblock-color-text-in-codeblock: #3f596f;

  --codeblock-color: #5e646f;
  --codeblock-color-muted: #e5e5e5;
  --codeblock-color-keyword: #b870ce;
  --codeblock-color-classname: #c95959;
  --codeblock-color-function: #6587bf;
  --codeblock-color-number: #db7070;
  --codeblock-color-attrname: #db7070;
  --codeblock-color-tag: #db7070;
  --codeblock-color-comment: #acb2bc;
  --codeblock-color-operator: #5e646f;
  --codeblock-color-value: #7c9f4b;
}

@media (width <= 1200px) {
  :root {
    --side-padding: 1.2rem;
    --side-back-margin: -1.2rem;
  }
}
